@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --color1: #242526;
    --color2: #3A3B3C;
    --color3: #f2f2f2;
    --color4: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    background: var(--color1);
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 65px;
    line-height: 65px;
}

nav .wrapper {
    position: relative;
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .nav-links {
    display: inline-flex;
}
nav .logo a {
    color: var(--color3);
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: var(--color3);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.nav-links li a:hover {
    background: var(--color2);
}

.nav-links .drop-menu {
    background: var(--color1);
    top: 45px;
    width: 180px;
    line-height: 45px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    opacity: 1;
    visibility: visible;
    top: 65px;
    transition: all 0.3s ease;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    border-radius: 0;
}

.mega-box {
    position: absolute;
    top: 45px;
    width: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: var(--color1);
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
}

.content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content .row header {
    color: var(--color3);
    font-size: 20px;
    font-weight: 500;
}

.content .row:nth-child(1),
.content .row:nth-child(2) {
    border-left: 0px;
    padding-left: 0;
}

.row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255, 0.09);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0 20px;
    color: var(--color4);
    font-size: 16px;
    display: block;
}

.mobile-item {
    display: none;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.wrapper .btn.cancel-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
    }
    .wrapper .nav-links {
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        background-color: var(--color1);
        display: block;
        top: 0;
        left: -100%;
        overflow-y: auto;
        line-height: 45px;
        box-shadow: 0 15px 15px rgba(0,0,0,0.15);
        padding: 50px 10px;
        transition: all 0.5s ease;
    }
    #cancel-btn:checked ~ .nav-links {
        left: -100%;
    }
    #menu-btn:checked ~ .nav-links {
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn {
        display: none;
    }
    .nav-links::-webkit-scrollbar {
        width: 0px;
    }
    .nav-links li {
        margin: 0 10px;
    }
    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-links .drop-menu {
        position: static;
        opacity:1;
        visibility: visible;
        top: 65px;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
    }

    #showDropdown:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box {
        max-height: 100vh;
        transition: max-height 0.7s ease;
    }
    .nav-links .drop-menu li {
        margin: 0;
    }
    .nav-links .drop-menu li a {
        font-size: 18px;
        border-radius: 5px;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        font-size: 20px;
        color: var(--color3);
        font-weight: 500px;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: height 1s ease;
    }

    .nav-links .mobile-item:hover {
        background: var(--color2);
    }
    .mega-box {
        position: static;
        top: 65px;
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in;
    }
    
    .mega-box .content {
        background: var(--color1);
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08)
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0;
    }
    .content .row .mega-links {
        border-left: 0;
        padding-left: 15px;
    }
    .row .mega-links li {
        margin: 0;
    }
    .content .row header {
        font-size: 19px;
    }

}

.wrapper input {
    display: none;
}